@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rubik+Beastly&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Noto+Serif:wght@700&display=swap");

/*Main parts/block elements*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: #ecf0f1;
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: #fff;
    padding: 20px;
    width: 60vw;
    margin-bottom: 20px;
    border-radius: 15px;
    border-left: 2px solid #e0137a;
}

/*Button to go to the top of the page*/
#topbutton {
    z-index: 10;
    display: none;

    position: fixed;
    bottom: 20px;
    right: 30px;

    border: none;
    outline: none;
    background: #e0137a;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#topbutton:hover {
    background: rgb(222, 43, 133);
}

/*Font stuff and text decoration (spans)*/
h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bolder;
    color: white;

}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
    color: #e0137a;
}

.strong {
    color: #e0137a;
    font-weight: bold;
}

#caption {
    font-style: italic;
}

h3 {
    font-size: 1em;
    font-weight: bolder;
    color: #e0137a;
    padding: 0;
    margin: 3px 0 0;
}

/*Header */

header {
    display: flex;
    background-color: #e0137a;
    height: 25vh;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}


/*Nav*/
nav {
    display: flex;
    background-color: white;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}

nav div {
    text-align: center;
    color: white;
    padding: 15px 40px;
}

nav a:hover {
    text-decoration: underline;

}

/*Image and figures*/

figure {
    margin: 0;
}

figcaption {
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.4;
}

/*For single images*/
.singleimage img {
    width: 100%;
    border: 1px solid black;
}

/*Used when there are two pictures */
.imagegallery {
    display: flex;
    object-fit: cover;
}

.imagegallery figure {
    width: 50%;
    padding: 5px;
    max-height: 40vh;
}

.imagegallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Footer*/
footer {
    background-color: #2f3133;
    height: 8vh;
    display: flex;
    font-weight: bolder;
    width: 100%;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-evenly;
}

footer div,
footer i {
    color: white;

}

footer i {
    font-size: 1.2em;
}

/*Tablets and small screens*/
@media only screen and (max-width: 1200px) {
    section {
        width: 80vw;
    }

    html {
        font-size: 15px;
    }
}

/*Phones*/
@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    header {
        height: 15vh;
    }

    nav {
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
    }

    section {
        width: 100%;
    }

    .imagegallery {
        flex-direction: column;
    }

    .imagegallery figure {
        width: 100%;
        max-height: unset;
    }

    footer {
        font-size: 1.1rem;
    }
}